# --- Local Development (Default) ---
NEXT_PUBLIC_RELIEF_TOKEN_ADDRESS="0xf5059a5D33d5853360D16C683c16e67980206f36"
NEXT_PUBLIC_RELIEF_FUND_ADDRESS="0x95401dc811bb5740090279Ba06cfA8fcF6113778"
NEXT_PUBLIC_CHAIN_ID=31337

# --- Production (Amoy Testnet) ---
# Override these in Vercel
# NEXT_PUBLIC_RELIEF_TOKEN_ADDRESS="[DEPLOYED_TOKEN_ADDRESS]"
# NEXT_PUBLIC_RELIEF_FUND_ADDRESS="[DEPLOYED_FUND_ADDRESS]"
# NEXT_PUBLIC_CHAIN_ID=80002
